@font-face {
    font-family: 'Gilroybold';
    src: url(../dist/font-family/Radomir_Tinkov_-_Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: 'Gilroylight';
    src: url(../dist/font-family/Radomir_Tinkov_-_Gilroy-Light.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: url(/dist/images/header-bg.png);
}

.bg-gradient {
    background: linear-gradient(134deg, #FF2801 -0.47%, #FF6500 90.6%),
        linear-gradient(96deg, #0075FF 1.34%, #00F 107.5%);
}

.overflow-hidden{
    overflow: hidden !important;
}